#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Easy Mount Tool for SteamOS
Comment=Setup permanent auto-mounting for any drive on SteamOS
Exec=konsole -e "bash -c \\"curl -sL 'https://raw.githubusercontent.com/thalesagapito/SteamOS-Mount-Tool/main/setup-mounts.sh' > /tmp/setup-mounts.sh && chmod +x /tmp/setup-mounts.sh && sudo /tmp/setup-mounts.sh; echo; read -p 'Press Enter to close this window...'\\""
Icon=drive-harddisk
Terminal=false
Type=Application
